# Local deployment artifacts
temporary/
**/.terraform/
**/.terraform.lock.hcl
infrastructure/apps/common/chaos/chaos.zip
infrastructure/apps/common/rotation/rotation.zip
infrastructure/apps/common/dbrotation/dbrotation.zip
apps/container_scripts/certs/
__pycache__/
infrastructure/dashboard/infra/terraform.tfvars
infrastructure/dashboard/api/psycopg2_layer.zip
infrastructure/dashboard/api/get_app_state.zip
infrastructure/dashboard/ui/build/
infrastructure/dashboard/ui/node_modules/
